body {
  font-family: Arial;
  margin: 50px;
}

h1 {
  text-align: center;
}

h2 {
  color: #fff;
  display: inline;
}

.container {
  background-color:#111;
  border-radius: 4px;
  margin: 20px;
  padding: 30px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}

a {
  display: inline-block;
  color: #332200;
  background-color: #febe01;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}